@CHARSET "ISO-8859-1";


.tbl-newarticle , .tbl-logout{
	position: absolute; left: 262px; top: 255px; width: 300;
}

.tr-newarticle , .tr-logout {
	bgcolor: "#FFFFFF" ; 
}

.tr-m{
	background-color: #EBCCDC ; 	
}

#panelShow{
	background-color:#E8CEED ;
}
